
.footer-section {
    padding: 10px 0;
    background-color: #82afb3;
    color: #f0f8ff;
  }
  
  .footer-section h4 {
    color: #f0f8ff;
  }
  
  .footer-section a {
    color: #f0f8ff;
    text-decoration: none;
    transition: color 0.3s ease; /* Adding transition effect */
  }
  
  .footer-section a:hover {
    color: #4682b4; /* Hover color (Steel Blue) */
  }
  
  /* Footer Social Icons */
  .footer-social-icon i {
    margin-right: 10px;
    padding: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease; /* Adding transition effect */
  }
  
  .footer-social-icon .facebook-bg {
    background-color: #3b5998;
  }
  
  .footer-social-icon .facebook-bg:hover {
    background-color: #1d2d4c; /* Darker shade for hover */
  }
  
  .footer-social-icon .twitter-bg {
    background-color: #55acee;
  }
  
  .footer-social-icon .twitter-bg:hover {
    background-color: #1c4f75; /* Darker shade for hover */
  }
  
  .footer-social-icon .google-bg {
    background-color: #dd4b39;
  }
  
  .footer-social-icon .google-bg:hover {
    background-color: #c1351d; /* Darker shade for hover */
  }
  
  /* Subscribe Button */
  .subscribe-form button {
    background-color: #f0f8ff;
    color: #d5dce4;
    transition: background-color 0.3s ease; /* Adding transition effect */
  }
  
  .subscribe-form button:hover {
    background-color: #8e9092; /* Hover background color */
    color: #f0f8ff; /* Text color change on hover */
  }
  
  /* Subscribe Input Field */
  .subscribe-form input {
    padding: 12px 24px;
    background-color: #cadbea;
    border: 1px solid #d3e0eb;
    color: #171010;
    transition: background-color 0.3s ease; /* Adding transition effect */
  }
  
  .subscribe-form input:hover {
    background-color: #dee4ed; /* Darker background on hover */
  }
  